[submodule "libs/network-simple"]
	path = libs/network-simple
	url = https://github.com/pharaun/network-simple
[submodule "libs/network-simple-tls"]
	path = libs/network-simple-tls
	url = https://github.com/pharaun/network-simple-tls
[submodule "libs/pipes-network"]
	path = libs/pipes-network
	url = https://github.com/pharaun/pipes-network
[submodule "libs/pipes-network-tls"]
	path = libs/pipes-network-tls
	url = https://github.com/pharaun/pipes-network-tls
[submodule "libs/esqueleto"]
	path = libs/esqueleto
	url = https://github.com/bitemyapp/esqueleto.git
[submodule "libs/slack-api"]
	path = libs/slack-api
	url = https://github.com/mpickering/slack-api.git
