[nick_filtering]
strict_match = [ "karmator", "testbotty" ]
prefix_match = [ "websphere" ]

[karma_parsing]
# Part of a karma (ie. +) but not a whole karma expression.
# The Up/Down/Side is a *must* to be formatted as such
partial = [ ('+', Up), ('-', Down), ('⊕', Up), ('⊖', Down), ('⊞', Up), ('⊟', Down), ('ⴱ', Down), ('ⴲ', Up), ('ー', Down), ('＋', Up), ('⨢', Up), ('₊', Up) ]

# A karma expression on its own.
# The Upvote/Downvote/Sidevote is a *must* to be formatted as such
total = [ ('±', Sidevote), ('∓', Sidevote), ('—', Downvote), ('⧺', Upvote), ('╌', Downvote) ]

# Brace for escaping karma parsing
open_brace = '['
close_brace = ']'
